In [1]:
import pandas as pd
import numpy as np

In [2]:
sozluk1={"Isim":["Ahmet","Mehmet","Zeynep","Atil"],
        "Spor":["Kosu","Yuzme","Kosu","Basketball"],
         "Kalori":[100,200,350,150]
        }
sozluk2={"Isim":["Osman","Levent","Atlas","Fatma"],
        "Spor":["Kosu","Yuzme","Kosu","Tenis"],
         "Kalori":[200,300,350,150]
        }
sozluk3={"Isim":["Ayberg","Mahmut","Duygu","Nur"],
        "Spor":["Kosu","Yuzme","Kosu","Basketball"],
         "Kalori":[700,500,350,150]
        }

In [4]:
dataFrame1=pd.DataFrame(sozluk1,index=[0,1,2,3])
dataFrame2=pd.DataFrame(sozluk2,index=[4,5,6,7])
dataFrame3=pd.DataFrame(sozluk3,index=[8,9,10,11])

## concatenation

In [6]:
pd.concat([dataFrame1,dataFrame2,dataFrame3]) #axis=0

      Isim        Spor  Kalori
0    Ahmet        Kosu     100
1   Mehmet       Yuzme     200
2   Zeynep        Kosu     350
3     Atil  Basketball     150
4    Osman        Kosu     200
5   Levent       Yuzme     300
6    Atlas        Kosu     350
7    Fatma       Tenis     150
8   Ayberg        Kosu     700
9   Mahmut       Yuzme     500
10   Duygu        Kosu     350
11     Nur  Basketball     150

## merge

In [9]:
mergeSpor={"Isim":["Ahmet","Mehmet","Zeynep","Atil"],
        "Spor":["Kosu","Yuzme","Kosu","Basketball"]}
mergeKalori={"Isim":["Ahmet","Mehmet","Zeynep","Atil"],
         "Kalori":[200,300,350,150]}

In [10]:
mergeDataFrame1=pd.DataFrame(mergeSpor)
mergeDataFrame2=pd.DataFrame(mergeKalori)

In [11]:
pd.merge(mergeDataFrame1,mergeDataFrame2,on="Isim")

     Isim        Spor  Kalori
0   Ahmet        Kosu     200
1  Mehmet       Yuzme     300
2  Zeynep        Kosu     350
3    Atil  Basketball     150